
.product-filters {
   
    background-color: #fefefe;
   
}

    .product-filters label {
        color: #8a8a8a;
    }

    .product-filters .menu.nested {
        margin-left: 0rem;
        margin-bottom: 0.9rem;
    }

    .product-filters .menu > li > a {
        padding-left: 0;
        color: #4a4a4a;
        font-size: 0.85rem;
        font-weight: 600;
    }

    .product-filters .is-accordion-submenu-parent > a::after {
        border-color: #cacaca transparent transparent;
    }

    .product-filters .clear-all {
        font-size: 0.9rem;
        color: #cacaca;
    }

    .product-filters .more {
        color: #1779ba;
        font-size: 0.9rem;
        cursor: pointer;
    }

.product-filters-header {
    font-size: 1.25rem;
    padding-top: 0.5rem;
}

.product-filters-tab {
    border-top: 1px solid #e6e6e6;
}

    .product-filters-tab:last-child() {
        border-bottom: 1px solid #e6e6e6;
    }

.mobile-product-filters {
    border-bottom: 1px solid #e6e6e6;
}
